.skeleton-container {
  flex: 1;
}

.skeleton-article {
  margin: 0 auto;
  width: 90%;
}

.skeleton-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skeleton {
  background-color: rgb(22, 22, 22);
}

.title {
  height: 1.25rem;
  border-radius: 50rem;
}

.text {
  margin: .5rem 0;
  height: .75rem;
  border-radius: 50rem;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-50 {
  width: 50%;
}

.profile-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50rem;
}

.debug {
  border: 1px solid red;
}

.animation-pulse {
  /* animation: name duration timing-fn iteration-cnt */
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}